$black:#333;


html{
box-sizing: border-box;
overflow-y: scroll;
-webkit-text-size-adjust: 100%;
min-width: 320px;
overscroll-behavior-y: none;
}
body{
    margin: 0px;
    padding: 0px;
    color: #333;
    font-family: 'Noto Sans JP', 'Noto Serif', 'Noto Serif JP', sans-serif, serif;
    font-weight: 300;
    background-color: #ffffff;
}

p{
    font-size: 16px;
    line-height: 1.875;
    margin:0;
    padding:0;
    @media (max-width: 768px){
        font-size: 13px;
    }
}

a{
text-decoration: none;
}
#all_warapper{
width: 100%;
overflow: hidden;
}

ul{
    margin:0;
    padding:0;
    list-style: none;
}
h2{
    font-size: 45px;
    line-height: 1.4;
@media (max-width: 768px){
    font-size: 30px;
    }
}
li{
    list-style: none;
}

img{
    max-width: 100%;
    vertical-align: bottom;
}
div{
    margin: 0;
    padding: 0;
}
section{
    margin-bottom: 40px;
    @media (max-width: 768px){
        margin-bottom: 70px; 
    }
}

.pc.inline{
    display: inline-block;
    @media (max-width: 768px){
        display: none;
    }
}

.pc{
    display: block;
@media screen and (max-width: 768px){
display: none;
}
}

.sp{
    display:none;
    @media screen and (max-width: 768px){
        display:block;
    }
}
.contents_inner {
    width: 1000px;
    padding: 0 20px;
    @media screen and (max-width: 768px){
        padding: 0 15px;
}
}

.contents_outer, .contents_surround, .contents_inner {
    width: 100%;
}

.btn{
position: relative;
display: inline-block;
box-sizing: border-box;
width: 100%;
max-width: 330px;
margin: 0 auto;
padding: 29px 8%;
border: 1px solid #fff;
border-radius: 1000px;
cursor: pointer;
&:before {
    content: '';
    position: absolute;
    display: block;
    width: 13px;
    height: 22px;
    top: 50%;
    right: 32px;
    transform: translateY(-50%);
    background: url("../img/PC/top/top_button_off.png") center / contain no-repeat;

}
&:after {
    content: '';
    position: absolute;
    display: block;
    width: 13px;
    height: 22px;
    top: 50%;
    right: 32px;
    transform: translateY(-50%);
    background: url("../img/PC/top/top_button_off.png") center / contain no-repeat;
}
}
#all_wrapper {
    width: 100%;
    overflow: hidden;
}

.cg_font {
    font-family: "Cormorant Garamond", serif;
}
h1,h2,h3,h4,h5{
    font-weight: normal;
}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}


